<form [formGroup]="signInForm" (ngSubmit)="signIn()">
  <label for="identifier">Email</label>
  <input
    id="identifier"
    type="text"
    formControlName="identifier"
    autocomplete="username"
    pInputText
  />

  <label for="password">Password</label>
  <input
    id="password"
    type="password"
    formControlName="password"
    autocomplete="current-password"
    pInputText
  />

  <button
    pButton
    label="Sign In"
    type="submit"
    name="method"
    value="password"
  ></button>
</form>
